html{
	font-size: 10px;
	overflow-x: hidden;
}

@font-face{
	font-family: 'Tekken'; /*a name to be used later*/
    src: url('../fonts/tekken.ttf'); /*URL to font*/
}

/*possible fix for row over flow at https://github.com/twbs/bootstrap/issues/10711*/
body{
	background-color: #0f0f0f;
	overflow-x: hidden;
}

header {
	height: 90px;
	background-color: black;
	background-position: center center;
	background-size: cover;
}

nav {
	height: 90px;
}



footer{
	margin: 0;
}

h3{
	color: #fff;
	font-family: "Core Sans G",Arial,sans-serif;
	font-style: italic;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;

}

/*gets rid of extra white space of container-fluid*/
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
 }

.panel{
	margin-bottom: 0;
	border: none;
}

/*why did changing color here work but not in element?*/
.navbar-inverse{
	background-color: black;
}


.navbar-header img{
	width: 90px;
	height: 90px;
	position: relative;
	top: -18px;
}

.navi-title {
	color: white;
	font-family: 'Tekken';
	display: inline-block;
	/*this height and lineheight is new*/
	height: 50px;
	line-height: 4;
	/*line-height: 1.05;*/
}


/*right side nav header starts here*/
.tabmenu{
	list-style-type: none;
	vertical-align: bottom;
	padding-top: 100px;
}

.tabmenu li{
	display: inline;
}

.tabmenu a{
	outline: none;
	text-decoration: none;
	display: inline;
	/*display: inline-block;*/
	/*width: 30%;*/
	margin-right: 2.625%;
	text-align: center;
	line-height: 0;
	font-weight: 600;
	color: hsla(0, 0%, 76%);
}

/*Nav stuff ends here*/


/*individual character frame data page css starts here*/
#character-heading-panel{

	background: linear-gradient(to right, #3366ff 15%, #00264d 50%);
	border: 1px solid #2aabd2;
	box-shadow: 0 0 10px #2aabd2;
	margin: 0px;
	outline: none;
	height: 70px;
	/*max-height: 72px;*/
}

/*css makes it so img does not change size in windowed mode px means fixed percentages changes with responsive size*/
.character-heading-img{
	max-width: 200px;
	max-height: 67px;
	background-color: #3366ff;
	/*position relative and top negative to align img into to panel header correctly*/
	position: relative;
	top: -10px;
}

.char-title {
	position: relative;
	top: -7px;
}


.framedata_table{
	width: 100%;
	border: 1px solid;
	border-collapse: collapse;
	overflow: auto;
}

.framedata_table th{
	padding: 8px;
	background-color: black;
	color: white;
}

.framedata_table td{
	padding: 8px;
	color: white;
}

.framedata_table tr:nth-child(odd){
	background-color: #404040;
}

.framedata_table tr:nth-child(even) {
    background-color: #4d4d4d;
}


/*fixed using https://stackoverflow.com/questions/21168521/scrollable-table-with-fixed-header-in-bootstrap*/
/*testing scrollable table code start here*/
.framedata_table > thead,
.framedata_table > tbody,
.framedata_table > thead > tr,
.framedata_table > tbody > tr,
.framedata_table > thead > tr > th,
.framedata_table > tbody > tr > td {
    display: block;
}

.framedata_table > tbody > tr:after,
.framedata_table > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.framedata_table > tbody {
    overflow-y: auto;
    height: 500px;
}

.framedata_table > tbody > tr > td,
.framedata_table > thead > tr > th {
    width: 12.5%;
    float: left;
}
/*test css ends here*/

.table-title{
	display: inline;
	vertical-align: top;
	line-height: 28px;
}

.table-title p{
	padding-top: 5px;
}

.table-title a{
	padding-left: 10px;
}

#special-moves{
	font-weight: 700;
	font-size: 2rem;
}

#basic-moves {
	font-weight: 700;
	font-size: 2rem;
}

#move-filters {
	font-weight: 700;
	font-size: 2rem;
}


/*frame data page css ends here*/




/*Character select css starts here*/

#characterselect img {
    border: 2px solid #000066;
    border-radius: 4px;
    padding: 0px;
    width: 44px;
	height: 74px;
}

#characterselect img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#characterselect {
	clear: both;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: 0px;
	position: relative;
}

#characterselect ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: right;
	position: relative;
	right: 50%;
}

/*list style you can switch the bullet points to something else or delcaration*/
#characterselect ul {
	list-style: none;
}

#characterselect ul li {
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
	left: 50%;
}

#characterselect ul li a {
	display: block;
	color: #4a4958;
	margin: 2px;
	width: 44px;
	height: 74px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*character select css ends here*/

/*start of footer css*/
#footer-contain{
	background-color: hsl(0, 0%, 95%);
}

#footer-contain p {
    padding-top: 1em;
    padding-left: 1em;
	font-weight: 500;
}


/*bootstrap SHARP EDGES*/
/*
    Bootflat 1.0.1
    Designed & Built by flathemes, http://www.flathemes.com
    Licensed under MIT License, http://opensource.org/licenses/mit-license.html
    Thanks for supporting our website and enjoy!
*/
/*------------------------------------*\
    $default
\*------------------------------------*/
.img-thumbnail,
.btn,
.btn-group .btn,
.btn-group .dropdown-menu,
.btn-group .btn,
.btn-group .btn:first-child:not(:last-child),
.btn-group .btn:last-child:not(:first-child),
.table-bordered,
.table-bordered tr:first-child th:first-child,
.table-bordered tr:first-child th:last-child,
.table-bordered tr:last-child td:first-child,
.table-bordered tr:last-child td:last-child,
.input-group .btn,
.input-group .dropdown-menu,
.input-group .form-control,
.input-group .input-group-addon,
.dropdown-menu,
.dropdown-menu .dropdown-submenu .dropdown-menu,
.form .form-control,
.form .btn,
.form-control,
.label,
.badge,
.alert,
.alert .btn,
.progress,
.breadcrumb,
.tooltip .tooltip-inner,
.popover,
.nav-list-panel,
.nav-tabs li > a,
.tabs-below .nav-tabs li > a,
.tabs-right .nav-tabs li > a,
.tabs-left .nav-tabs li > a,
.nav-tabs .dropdown-menu,
.tabs-below .nav-tabs .dropdown-menu,
.nav-pills li a,
.nav-pills .dropdown-menu,
.navbar,
.navbar .dropdown-menu,
.pagination,
.pagination li:first-child a,
.pagination li:first-child span,
.pagination li:last-child a,
.pagination li:last-child span,
.pager li a,
.pager li a:hover,
.pager li a:focus,
.panel,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-body,
/*------------------------------------*\
    $extend
\*------------------------------------*/
.breadcrumb-arrow li:first-child a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


@media screen and (max-width: 768px) {
    /* tablets and desktop */
	body{
		font-size: 1rem;
	}
	/*if you want to hide it has to be entire div */
	.erase-title {
		display: none;
	}

	/*this rule changes navbar collapse links properties when windows is resized*/
	.navbar-inverse .navbar-nav > li > a {
		color: yellowgreen;
		font-weight: 700;
		padding-left: 20px;
		z-index: 1;
		background-color: black;
	}
	.navbar-inverse .navbar-nav > li > a:hover {
		background-color: black;
	}

	.box-img {
		display: none!important;
	}

	.char-title-box {
		width: 80%;
	}

	/*this rule is the dropdown menu items properties*/
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: yellowgreen;
		background-color: black;
		position: relative;
		z-index: 10;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
		background-color: black;
	}

}