{% extends "layout.html" %}
{% block title %}Frame Data | {{ character|title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading" id="character-heading-panel">
                <div class="row">
                    <div class="box-img col-xs-2 col-md-2">
                        <img class="character-heading-img" src="{{ url_for('static', filename='char_thumbnails/'+character|lower+'_thumbnail.png') }}" alt="{{ character }}">
                    </div>
                    <div class="char-title-box col-xs-4 col-md-4">
                        {#for design change some char names because#}
                        <h3 class="char-title">
                            {% if character|lower == 'devil_jin' %}
                                DEVIL JIN
                            {% elif character|lower == 'master_raven' %}
                                MASTER RAVEN
                            {% else %}
                                {{ character|upper }}
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-title">
                    <p><span id="special-moves">Special Moves</span>
                        <span><a class="table-switcher" href="#basic-moves">To Basic Moves</a></span></p>
                </div>
                <div class="table-responsive">
                    {{ ctable1|safe }}
                </div>
                <br>
                <div class="table-title">
                    <p><span id="basic-moves">Basic Moves</span>
                        <span><a class="table-switcher" href="#special-moves">To Special Moves</a></span></p>
                </div>
                <div class="table-responsive">
                    {{ ctable2|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}