{% extends "layout.html" %}
{% block title %}Frame Data | {{ character|title }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="panel panel-default">
        {% include 'framepage_headers.html' %}
        <div class="panel-body" style="display: none"><!-- display: none; to hide, display: show; to show-->
            <div class="table-title">
                <p><span id="move-filters">Filters</span></p>
            </div>
            <div class="row form-group">
                <div class="col-md-1">
                    Punishers:
                </div>
                <div class="col-md-11" align="left">
                    <button type="button" class="btn btn-info" id="Punish_10f">10f or less</button>
                    <button type="button" class="btn btn-info" id="Punish_12f">11 to 12f</button>
                    <button type="button" class="btn btn-info" id="Punish_15f">15f</button>
                    <button type="button" class="btn btn-info" id="Punish_16f">16f or more</button>
                    <button type="button" class="btn btn-info" id="Punish_13f">13f</button>
                    <button type="button" class="btn btn-info" id="Punish_14f">14f</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-1">
                    On block:
                </div>
                <div class="col-md-11" align="left">
                    <button type="button" class="btn btn-info" id="Onblock_safe">Safe</button>
                    <button type="button" class="btn btn-info" id="Onblock_minus">-9 to 0</button>
                    <button type="button" class="btn btn-info" id="Onblock_plus">+1 to +9</button>
                    <button type="button" class="btn btn-info" id="Onblock_plus10">other?</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-1">
                    Other:
                </div>
                <div class="col-md-11" align="left">
                    <button type="button" class="btn btn-info" id="Other_KND">KND</button>
                    <button type="button" class="btn btn-info" id="Other_JS">JS</button>
                    <button type="button" class="btn btn-info" id="Other_LC">Low Crush</button>
                    <button type="button" class="btn btn-info" id="Other_HC">High Crush</button>
                    <button type="button" class="btn btn-info" id="Other_A">Armour</button>
                    <button type="button" class="btn btn-info" id="Other_T">Throw</button>
                    <button type="button" class="btn btn-info" id="Other_L">Launch</button>
                    <button type="button" class="btn btn-info" id="Other_CHL">CH Launch</button>
                </div>
            </div>
            <hr />
            <div class="row form-group">
                <div class="col-md-1" align="left"></div>
                <div class="col-md-11" align="left">
                    <button type="button" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-title">
                <p><span id="special-moves">Special Moves</span>
                    <span><a class="table-switcher" href="#basic-moves">To Basic Moves</a></span></p>
            </div>
            <div class="table-responsive">
                {{ ctable1|safe }}
            </div>
            <br>
            <div class="table-title">
                <p><span id="basic-moves">Basic Moves</span>
                    <span><a class="table-switcher" href="#special-moves">To Special Moves</a></span></p>
            </div>
            <div class="table-responsive">
                {{ ctable2|safe }}
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>

$(document).ready(function() {

    var punishColumn = "Start up frame";
    var onblockColumn = "Block frame"
    var otherColumn = "Other?"

    $("#Punish_10f").click(function() {
        filterMoves(punishColumn, "<=10");
    });

    $("#Punish_12f").click(function() {
        filterMoves(punishColumn, ">=11;<=12");
    });

    $("#Punish_15f").click(function() {
        filterMoves(punishColumn, "=15");
    });

    $("#Punish_16f").click(function() {
        filterMoves(punishColumn, ">=16");
    });

    $("#Punish_13f").click(function() {
        filterMoves(punishColumn, "=13");
    });

    $("#Punish_14f").click(function() {
        filterMoves(punishColumn, "=14");
    });

    $("#Onblock_safe").click(function() {
        filterMoves(onblockColumn, ">=-9");
    });

    $("#Onblock_minus").click(function() {
        filterMoves(onblockColumn, ">=-9;<=0");
    });

    $("#Onblock_plus").click(function() {
        filterMoves(onblockColumn, ">=1;<=9");
    });

    $("#Onblock_plus10").click(function() {
        filterMoves(onblockColumn, ">=10");
    });

    $("#Other_KND").click(function() {
        filterMoves(otherColumn, "KND");
    });

    $("#Other_JS").click(function() {
        filterMoves(otherColumn, "JS");
    });

    $("#Other_LC").click(function() {
        filterMoves(otherColumn, "LC");
    });

    $("#Other_HC").click(function() {
        filterMoves(otherColumn, "HC");
    });

    $("#Other_A").click(function() {    //armour
        filterMoves(otherColumn, "A");
    });

    $("#Other_T").click(function() {    //throw
        filterMoves(otherColumn, "T");
    });

    $("#Other_L").click(function() {     //launch
        filterMoves(otherColumn, "L");
    });

    $("#Other_CHL").click(function() {
        filterMoves(otherColumn, "CHL");
    });


    function filterMoves(column, frames) {
        //alert(column + " " + frames);
    }

});
</script>

{% endblock %}