<div class="panel-heading" id="character-heading-panel">
    <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span id="char-img-frame">
                    <img class="character-heading-img" src="{{ url_for('static', filename='char_thumbnails/'+character|lower+'_thumbnail.png') }}" alt="{{ character }}">
                </span>
            </div>
            {#giving class nav navbar-nav is bootstrap way of navbar content right after navbar-header stuff#}
            <div class="nav navbar-nav">
                <h3 class="char-title">
                    {{ character.replace('_', ' ')|upper }}
                </h3>
            </div>

            {#collapses stuff goes here#}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Character Select</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tournaments</a></li>
                            <li><a href="#">Strategies</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
</div>