{% extends "layout.html" %}
{% block title %}Tekken G-Corp{% endblock %}


{% block body %}
    {#Note: make sure include headers is inside body or will not load properly#}
    <div class="container-fluid">
        <div class="panel panel-primary">
            {% include 'index_panel_header.html' %}
            <div class="panel-body" style="width: 100%;">
                <div id="characterselect">
                    {#character list order and position is also formatted here what it should look like on website#}
                    {% set character_list = ["Geese","Panda","Eliza","Lee","Bob","Nina","Akuma","Kazumi","Master_Raven","Miguel","Kuma","Eddy",
                        "Yoshimitsu","Dragunov","Hwoarang","Law","Asuka","Shaheen","Kazuya","Heihachi","Claudio","LuckyChloe","Lili","Lars","King","Jack-7",
                        "Bryan","Steve","Paul","Xiaoyu","Josie","Jin","Devil_Jin","Katarina","Gigas","Leo","Alisa","Feng"] %}
                    {#having list of characters for loop through it by assigning each character as a select option#}
                    {% for character in character_list %}
                        {#create a ul tag if first character in list row as there are 3 rows/lists to make#}
                        {% if character == "Geese" or character == "Yoshimitsu" or character =="Bryan" %}
                            <ul>
                        {% endif %}
                        {#href here refers to bottom left preview of route and title is seen on hover#}
                        {% set href = "/frame-data/"+character|lower %}
                        {% set title = "Tekken 7 |"+character %}
                        <li><a href={{ href }} title={{ title }}><img alt="T7 select {{ character|lower }}.png" src="{{ url_for('static', filename='char/T7_select_'+character|lower+'.png') }}" class="img-responsive" width="44" height="74"></a></li>
                        {#close ul tag after character is set with the given tags if current character is last of row list #}
                        {% if character =="Eddy" or character == "Jack-7" or character == "Feng" %}
                            </ul>
                            <div style="clear: both;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}