<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='extra_images/G_Corporation_Logo.png') }}">

    <meta name="description" content="Tekken G-Corp provides information on Tekken 7 strategies and a more
                                      convenient presentable way to view individual character frame data.">
</head>
<body>

<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img id='glogo-pic-title-bar' alt="G-Corp" src="../static/extra_images/glogoheader.png">
                </a>
            </div>

            {#giving class nav navbar-nav is bootstrap way of navbar content right after navbar-header stuff#}
            <div class="erase-title nav navbar-nav">
                <h4 class="navi-title">Tekken G-Corp Frames</h4>
            </div>

            {#collapses stuff goes here#}

        </div> <!--  containter fluid ends -->
    </nav>
</header>

{% block body %}{% endblock %}

<footer>
    <div class="container-fluid">
        <div class="footer" id="footer-contain">
            <p> &copy; 2017 Tekken G-Corp | Fanmade TEKKEN™7 data | All game images are under TEKKEN™7 & ©2017 BANDAI NAMCO Entertainment, Inc. copyright protection. Frames taken from http://rbnorway.org/</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>