<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tekken G-Corp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='extra_images/G_Corporation_Logo.png') }}">
</head>
<body>

<header>
    <div class="container" id="header-bottom-left">
        <div class="row">
            <div class="col-md-3">
                <span class="hover pagename redditname"><a href="/">Tekken</a></span>
            </div>
            <div class="col-md-5">
                <h1>Tekken G-Corporation Frame Data</h1>

                <ul class="tabmenu "><li class="selected"><a href="https://www.reddit.com/r/Tekken/" class="choice">hot</a></li><li><a href="https://www.reddit.com/r/Tekken/new/" class="choice">new</a></li><li><a href="https://www.reddit.com/r/Tekken/rising/" class="choice">rising</a></li><li><a href="https://www.reddit.com/r/Tekken/controversial/" class="choice">controversial</a></li><li><a href="https://www.reddit.com/r/Tekken/top/" class="choice">top</a></li><li><a href="https://www.reddit.com/r/Tekken/gilded/" class="choice">gilded</a></li><li><a href="https://www.reddit.com/r/Tekken/wiki/" class="choice">wiki</a></li>
                </ul>
            </div>
        </div>
    </div>

</header>




{% block body %}{% endblock %}

{% block footer %}
    &copy; 2017 Tekken G-Corp
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>