<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='extra_images/G_Corporation_Logo.png') }}">

    <meta name="description" content="Tekken G-Corp provides information on Tekken 7 strategies and a more
                                      convenient presentable way to view individual character frame data.">
</head>
<body>

<header>

{#    this is old header code which i am replacing#}
{#    <nav>#}
{#        <div class="container-fluid" id="header-bottom-left">#}
{#                <div class="row">#}
{##}
{#                <div class="col-xs-2 col-md-2">#}
{#                    <span class="pagename"><a href="/">Tekken</a></span>#}
{#                </div>#}
{#                <div class="title-corp-header col-xs-4 col-md-4">#}
{#                    <h2 class="navi-title">Tekken G-Corporation Frame Data</h2>#}
{#                </div>#}
{#                <div class="col-xs-6 col-md-6">#}
{#                    <ul class="tabmenu">#}
{#                        <li class="selected">#}
{#                            <a class="choice" href="/">Home</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a class="choice" href="/">Character Select</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a class="choice" href="#">Tournaments</a>#}
{#                        </li>#}
{#                    </ul>#}
{##}
{##}
{#                </div>#}
{##}
{#                </div>#}
{##}
{#        </div>#}
{#    </nav>#}

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="/">
            <img alt="G-Corp" src="../static/extra_images/glogoheader.png">
          </a>
        </div>

          {#giving class nav navbar-nav is bootstrap way of navbar content right after navbar-header stuff#}
          <div class="erase-title nav navbar-nav">
              <h4 class="navi-title">Tekken G-Corp Frames</h4>
          </div>

        {#collapses stuff goes here#}
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                  <li><a href="/">Character Select</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Tournaments</a></li>
                    <li><a href="#">Strategies</a></li>
                    <li><a href="#">News</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">About</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->

      </div> <!--  containter fluid ends -->
    </nav>




</header>




{% block body %}{% endblock %}

<footer>
    <div class="container-fluid">
        <div class="footer" id="footer-contain">
            <p> &copy; 2017 Tekken G-Corp | Fanmade TEKKEN™7 data | All game images are under TEKKEN™7 & ©2017 BANDAI NAMCO Entertainment, Inc. copyright protection. Frames taken from http://rbnorway.org/</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>